@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Marcellus&family=Montserrat&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*>*{
  font-family: 'Montserrat', sans-serif;
}


:root {
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}




.sidebar {
  width: 17rem;
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.close{
  width: 50px;
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.close ~ .sidebar__icon{
  font-size: 100px;
}

.sidebar__link {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  padding: 0.8rem 1rem;
  display: flex;
  margin-bottom: 1rem;
  font-weight: 400;
  border-radius: 0.8rem;
  
}

.sidebar__link:active{
  font-weight: 800;
}

.sidebar__icon {
  margin-top: 0.2rem;
  display: inline-block;
}

.sidebar__name {
  margin-left: 1rem;
}

